@import url('https://fonts.googleapis.com/css?family=Karla');
body{
    background-color: aliceblue;
    font-family: 'Karla', sans-serif;
}
.clearfix {
    overflow: auto;
}
.navbar  {
    padding: .5rem;
    margin: 1rem;
}

.panel {
    padding: .5rem;
    margin-left: 2rem;
}

.btn {
    margin-top: .5rem;
}

.img-thumbnail {
    margin-right: 1rem;
}

footer{
    clear: both;
    background-color:palegoldenrod;
}