/* body{
    body ; 
} */
.navbar  {
    padding: .5rem;
    margin: 1rem;
}

.panel {
    padding: .5rem;
    margin-left: 2rem;
}

.btn {
    margin-top: .5rem;
}

.img-thumbnail {
    margin-right: 1rem;
}

footer{
    clear: both;
    background-color:palegoldenrod;
}